.circle-top-left{
    top: -10rem;
    left: 24rem;
}

.arrow-top-center{
    top: 12rem;
    left: 42rem;
}

.top-ribbon{
    margin-left: 5rem;
    margin-bottom: 1rem;
}
.ribbons-bottom-middle{
    bottom: 6rem;
    left: 32rem;
}